:host {
    flex-grow: 1;
}

#filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#filters-left-alignment,
#filters-right-alignment {
    display: flex;
    gap: 5px;
    align-items: center;

    padding: 5px;
}


app-agency-list-item {
    max-height: max(20vh, 200px);
    margin: 15px 0;
}

@media screen and (max-width: 600px) {
    app-agency-list-item {
        max-height: max(40vh, 500px);
    }
}
