<div class="object-left-side">
    <div class="object-text">
        <p class="object-type">Tip: {{ object.type == OBJECT_TYPES.flat ? "Stan" : (object.type == OBJECT_TYPES.house ? "Kuća" : "") }}</p>
        <p class="object-address">Adresa: {{ object.address }}</p>
        <p class="object-number-of-rooms">Broj soba: {{ object.rooms.length }}</p>
        <p class="object-quadrature">Kvadratura: {{ object.quadrature }}</p>
    </div>
    <div>
        <button routerLink="/objects/change" [queryParams]="{ 'id': object._id }">Izmeni</button>
    </div>
</div>
<app-objects-show class="object-picture" [rooms]="object.rooms"></app-objects-show>
