
<app-list-item>
    <ng-container ngProjectAs="details">
        <h3 class="agency-name">{{ agency['name'] }}</h3>
        <p class="agency-address">{{ agency['address'] }}</p>
        <p class="agency-description">
            {{ agency['description'] }}
        </p>
    </ng-container>
    <ng-container ngProjectAs="controls">
        <button routerLink="/agencies/show" [queryParams]="{ 'id': agency['_id'] }">Prikaži</button>
    </ng-container>
    <ng-container ngProjectAs="display">
        <img class="agency-profile-picture" [src]="agency['profile_picture']" />
    </ng-container>
</app-list-item>
