<header>
    <div id="header-left-side menu">
        <div class="header-menu-item" *ngIf="user_type != USER_TYPES.none">
            <div class="header-menu-item-title">Profil</div>
            <div class="header-menu-item-submenu">
                <a routerLink="account/info">Lični podaci</a>
            </div>
        </div>

        <div class="header-menu-item">
            <div class="header-menu-item-title">Radionice</div>
            <div class="header-menu-item-submenu">
                <a routerLink="objects/show_all">Sve</a>
                <ng-container *ngIf="user_type == USER_TYPES.none">
                    <hr>
                    <!--
                    <a routerLink="radionice/prikazi_listu" [queryParams]="{tip: 'moje'}">Moje</a>
                    -->
                </ng-container>
            </div>
        </div>
    </div>
    <div id="header-right-side">
        <a *ngIf="user_type == USER_TYPES.none" routerLink="account/login">Prijavi se</a>
        <a *ngIf="user_type == USER_TYPES.none" routerLink="account/register">Registruj se</a>

        <a *ngIf="user_type != USER_TYPES.none" (click)="logout()" routerLink="">Odjavi se</a>
    </div>
</header>