table {
    border-collapse: collapse;
    margin: 0 auto 8px auto;
}

#button_change_password{
    display: block;
    margin: 8px auto 0 auto;
}

.errors, .messages {
    margin: 0;
    text-align: center;
}

.errors {
    color: red;
}

.messages {
    color: green;
}
