<table>
    <tr *ngIf="!verification_code" style="border-bottom: 8px solid transparent">
        <td>
            <label for="old_password">Stara lozinka&nbsp;</label>
        </td>
        <td>
            <input type="text" name="old_password" id="old_password" [(ngModel)]="old_password" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="new_password">Nova lozinka&nbsp;</label>
        </td>
        <td>
            <input type="text" name="new_password" id="new_password" [(ngModel)]="new_password" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="new_password_again">Nova lozinka ponovo&nbsp;</label>
        </td>
        <td>
            <input type="text" name="new_password_again" id="new_password_again" [(ngModel)]="new_password_again" />
        </td>
    </tr>
</table>

<p class="errors" *ngFor="let error of errors">{{ error }}</p>

<p class="messages" *ngFor="let message of messages">{{ message }}</p>

<button id="button_change_password" (click)="change_password()">Potvrdi</button>
