<header>
    <div id="header-left-side">
        <div class="header-menu-item" *ngIf="user_type != USER_TYPES.none">
            <div class="header-menu-item-title">Profil</div>
            <div class="header-menu-item-submenu">
                <a routerLink="/account/info">Lični podaci</a>
            </div>
        </div>

        <div class="header-menu-item">
            <div class="header-menu-item-title">Agencije</div>
            <div class="header-menu-item-submenu">
                <a routerLink="/agencies/list">Sve</a>
            </div>
        </div>

        <div class="header-menu-item" *ngIf="user_type == USER_TYPES.client">
            <div class="header-menu-item-title">Objekti</div>
            <div class="header-menu-item-submenu">
                <a routerLink="/objects/new">Novi</a>
                <a routerLink="/objects/list">Moji</a>
            </div>
        </div>

        <div class="header-menu-item" *ngIf="user_type == USER_TYPES.agency">
            <div class="header-menu-item-title">Radnici</div>
            <div class="header-menu-item-submenu">
                <a routerLink="/workers/insert">Novi</a>
                <a routerLink="/workers/all">Moji</a>
                <a routerLink="/workers/request_more">Zahtevaj mesta</a>
            </div>
        </div>
    </div>
    <div id="header-right-side">
        <a *ngIf="user_type == USER_TYPES.none" routerLink="/account/login">Prijavi se</a>
        <a *ngIf="user_type == USER_TYPES.none" routerLink="/account/register">Registruj se</a>

        <a *ngIf="user_type != USER_TYPES.none" (click)="logout()" routerLink="">Odjavi se</a>
    </div>
</header>