<app-list-item [style]="{ 'background-color': background_color() }">
    <ng-container ngProjectAs="details">
        <ng-container *ngIf="user_type === USER_TYPES.agency || user_type === USER_TYPES.admin">
            <p *ngIf="user_type === USER_TYPES.agency || user_type === USER_TYPES.admin" style="text-decoration: underline;">Klijent:</p>

            <h3 class="job-client-name">
                {{ job['client_info']['first_name'] }}
                {{ job['client_info']['last_name'] }}
            </h3>
            <p class="job-client-email">{{ job['client_info']['email'] }}</p>
            <p class="job-client-phone-number">{{ job['client_info']['phone_number'] }}</p>
        </ng-container>

        <ng-container *ngIf="user_type === USER_TYPES.client || user_type === USER_TYPES.admin">
            <p *ngIf="user_type === USER_TYPES.agency || user_type === USER_TYPES.admin" style="text-decoration: underline;">Agencija:</p>

            <h3 class="job-agency-name">{{ job['agency_info']['name'] }}</h3>
            <p class="job-agency-email">{{ job['agency_info']['address'] }}</p>
            <p class="job-agency-email">{{ job['agency_info']['email'] }}</p>
            <p class="job-agency-phone-number">{{ job['agency_info']['phone_number'] }}</p>
        </ng-container>

        <p class="job-date">
            {{ format_date(job['start_date']) }}
            -
            {{ format_date(job['end_date']) }}
        </p>
    </ng-container>
    <ng-container ngProjectAs="controls">
        <ng-container *ngIf="user_type === USER_TYPES.agency && job['status'] === JOB_STATUSES.requested">
            <button (click)="offer()">Ponudi</button>
            <button (click)="decline_request()">Odbij</button>
        </ng-container>

        <ng-container *ngIf="user_type === USER_TYPES.agency && job['status'] === JOB_STATUSES.awaiting">
            <button routerLink="/jobs/worker_allocation" [queryParams]="{ 'id': job['_id'] }">Započni</button>
        </ng-container>

        <ng-container *ngIf="user_type === USER_TYPES.agency && job['status'] === JOB_STATUSES.undergoing">
            <button (click)="status_change_modal_open = true">Ažuriraj</button>
            <app-modal-window *ngIf="status_change_modal_open">
                <app-objects-change-construction-status #canvasObjects [object]="job['object']"></app-objects-change-construction-status>
                <button (click)="update_status()">Potvrdi</button>
            </app-modal-window>
        </ng-container>


        <ng-container *ngIf="user_type === USER_TYPES.client && job['status'] === JOB_STATUSES.offered">
            <button (click)="accept_offer()">Prihvati</button>
            <button (click)="decline_offer()">Odbij</button>
            <span> <strong>Ponuđeno:</strong> {{ job['price'] }} </span>
        </ng-container>

        <ng-container *ngIf="user_type === USER_TYPES.client && job_active && !job['cancellation']">
            <button (click)="cancellation_request_modal_open = true">Otkaži</button>
            <app-modal-window *ngIf="cancellation_request_modal_open">
                <p>Molimo dajte objašnjenje:</p>
                <textarea name="cancellation_request_message" id="cancellation_request_message" cols="30" rows="10" [(ngModel)]="cancellation_request_message"></textarea>
                <button (click)="cancellation_request()">Potvrdi</button>
            </app-modal-window>
        </ng-container>

        <ng-container *ngIf="user_type === USER_TYPES.client && job['status'] === JOB_STATUSES.finished">
            <button (click)="pay()">Plati</button>
        </ng-container>

        <ng-container *ngIf="user_type === USER_TYPES.client && job['status'] === JOB_STATUSES.paid">
            <button (click)="rate_modal_open = true">Oceni</button>
            <app-modal-window *ngIf="rate_modal_open">
                <table>
                    <tr>
                        <td>Naslov:</td>
                        <td>
                            <textarea name="rating_title" id="rating_title" cols="30" rows="10" [(ngModel)]="rating.title"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Tekst:</td>
                        <td>
                            <textarea name="rating_text" id="rating_text" cols="30" rows="10" [(ngModel)]="rating.text"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Ocena:</td>
                        <td>
                            <input type="number" name="rating_rating" id="rating_rating" min="1" max="5" [(ngModel)]="rating.rating" />
                        </td>
                    </tr>
                </table>
                
                <button (click)="rate()">Potvrdi</button>
            </app-modal-window>
        </ng-container>

        <ng-container *ngIf="user_type === USER_TYPES.admin && job_active && job['cancellation']">
            <button (click)="cancellation_modal_open = true">Pogledaj zahtev za otkazivanjem</button>

            <app-modal-window *ngIf="cancellation_modal_open">
                <p>{{ job['cancellation']['message'] }}</p>
                <button (click)="allow_cancellation()">Odobri</button>
                <button (click)="deny_cancellation()">Odbij</button>
            </app-modal-window>
        </ng-container>
    </ng-container>
    <ng-container ngProjectAs="display">
        <app-objects-show class="job-object-picture" [object]="job['object']" [show_status]="job_active"></app-objects-show>
    </ng-container>
</app-list-item>
