<p style="text-align: center">
    Na Vaš i-mejl će biti poslat link koji će Vas uputiti ka stranici za promenu lozinke. <br />
    Link će biti aktivan 10 minuta, nakon kojih ćete morati da pošaljete zahtev za promenu lozinke ponovo.
</p>

<table>
    <tr style="border-bottom: 8px solid transparent">
        <td>
            <label for="email">Vaš i-mejl&nbsp;</label>
        </td>
        <td>
            <input type="text" name="email" id="email" [(ngModel)]="email" />
        </td>
    </tr>
</table>

<p class="errors" *ngFor="let error of errors">{{ error }}</p>

<p class="messages" *ngFor="let message of messages">{{ message }}</p>

<button id="button_send_email" (click)="send_email()">Potvrdi</button>
