<ng-container *ngIf="agency_loaded">
    <div id="agency-info">
        <img id="agency-info-profile-picture" [src]="agency['profile_picture']" alt="slika agencije" />

        <div id="agency-info-details">
            <h3 id="agency-name">{{ agency['name'] }}</h3>
            <p id="agency-address">{{ agency['address'] }}</p>    
            <p id="agency-description">{{ agency['description'] }}</p>
        </div>
    </div>

    <div id="agency-comments">
        <div class="agency-comment" *ngFor="let comment of agency['comments']">
            <div class="agency-comment-left-alignment">
                <img class="agency-comment-profile-picture" [src]="comment['author_info']['profile_picture']" alt="slika korisnika">
                <p class="agency-comment-author"> {{ comment['author_info']['username'] }} </p>
            </div>

            <div class="agency-comment-right-alignment">
                <div class="agency-comment-header">
                    <button *ngIf="user_id === comment['author_info']['_id']" (click)="delete_comment()">Obriši</button>
                    <span class="agency-comment-stars">
                        <app-star *ngFor="let fullness of generate_rating_array(comment['rating'])" class="agency-comment-star" [full]="fullness"></app-star>
                    </span>
                    <span class="agency-comment-title">{{ comment['title'] }}</span>
                </div>
                {{ comment['text'] }}
            </div>
        </div>
    </div>

    <div *ngIf="errors.length > 0">
        <p *ngFor="let error of errors">{{ error }}</p>
    </div>
</ng-container>
