table {
    border-collapse: collapse;
    margin: 0 auto 8px auto;
}

#button_register {
    display: block;
    margin: 8px auto 0 auto;
}

#profile_picture_change,
#profile_picture {
    max-width: var(--form-input-width);

    display: block;
    margin: 0 auto;
}
