
<app-request-job-list *ngIf="current_step === 0" (choosen_object_event)="choosen($event)"></app-request-job-list>

<ng-container *ngIf="current_step === 1">
    <table>
        <tr>
            <td>
                <label for="start_date">Početak*&nbsp;</label>
            </td>
            <td>
                <input type="date" name="start_date" id="start_date" [(ngModel)]="start_date" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="end_date">Kraj*&nbsp;</label>
            </td>
            <td>
                <input type="date" name="end_date" id="end_date" [(ngModel)]="end_date" />
            </td>
        </tr>
    </table>
    
    <p *ngFor="let error of errors" class="errors">{{ error }}</p>

    <p *ngFor="let message of messages" class="messages">{{ message }}</p>
    
    <div id="command_buttons">
        <button (click)="current_step = 0">Nazad</button>
        <button (click)="request()">Zahtevaj</button>
    </div>
</ng-container>
